   *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   }
   body{
      background-color:#152233;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   /* header start */
   header{
   background-color: black;
   height: 6rem;
   }
   nav{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   max-width: 92%;
   margin: 0 auto;
   transform: translateY(2.3rem);
   }
   .logo img{
   width: 6.5rem;
   }
   .logins{
   transform: translateY(-.6rem);
   }
   .sign-in{
   margin-right: .2rem;
   width: 5rem;
   height: 1.5rem;
   border-radius: 40px;
   background-color:#ffffff30;
   border: none;
   }
   .sign-in a{
   text-decoration: none;
   color: rgba(255, 255, 255, 0.582);
   font-size: 11px;
   letter-spacing: .4px;
   font-weight: bold;
   }
   .sign-in a:hover{
   color: white;
   font-size: 12px;
   }
   .get-started{
   width: 7rem;
   height: 2.1rem;
   border-radius: 65px;
   background-color:#EB004F;
   border: none;
   }
   .get-started a{
   text-decoration: none;
   color: white;
   font-size: 11px;
   font-weight: bold;
   letter-spacing: .4px;
   }
   /* header ends *
   /* Annoucement bar start */
   .bar{
   background-color:#152233;
   min-height: 10vh;
   }
   .bar-inner{
   max-width: 64%;
   margin: 0 auto;
   }
   .announcement-bar-text{
   font-size: 40px;
   color: white;
   text-align: center;
   padding: 1rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   /* Annoucement bar ends */

   /* plans start */
   .plans{
   background-color: #031124;
   padding-bottom: 6rem;
   }
   .plans-inner{
   max-width: 80%;
   margin: 0 auto;
   display:flex;
   column-gap: 1.5rem;
   margin-top: 4rem;

   }
   .plan-box{
   background-color: white;
   width:40rem;
   height: 28rem;
   margin-top:  5rem;
   border-radius: 30px;
   animation-duration: 1;
   animation: animate  .8s;
   }
   @keyframes animate{
   0%{
   transform:scale(0%);
   }
   100%{
   transform:scale(100%);
   }
   }
   .plan-texts h5{
   margin-top: 2rem;
   padding-left: 1.5rem;
   font-size: 24px;
   font-weight: bolder;
   }
   .plan-texts span{
   display: block;
   margin-top: 2rem;
   font-size: 19px;
   font-weight: bold;
   }
   .plan-texts  p{
   margin-top:3rem;
   font-size: 15px;
   line-height: 2rem;
   letter-spacing: .1px;
   color: #000000d4;
   }
   .plan-paid h5{
   font-size:3rem;
   }
   .plan-paid h5 p{
   display: inline-block;

   }
   .plan-box .btn-box{
   text-align: center;
   width: 90%;
   margin: 0 auto;
   /* border-style: dotted; */
   }
   .plan-box .btn-box button{
   height: 3rem;
   width: 100%;
   border-radius: 23px;
   border: none;
   background-color: #EB004F;
   }
   .plan-box .btn-box button a{
   color: #ffff;
   text-decoration: none;
   font-weight: 800;
   }
   .btn-box-pl{
   margin: 0 auto;
   position: relative;
   left: -28%;
   width: 33%;
   margin-top: -.5rem;
   margin-bottom: -1rem;
   }
   .btn-box-pl button{
   height: 1.5rem;
   width: 100%;
   border-radius: 23px;
   border: none;
   background-color: #EB004F;
   }
   .btn-box-pl button a{
   color: #fff;
   font-weight: 900;
   text-decoration: none;
   }
   .boxes-text{
   color: #ffffffbe;
   margin: 0 auto;
   max-width: 75%;
   margin-top: 5rem;
   font-size: 12px;
  }


   /* plans ends */
   /* Annoucement bar start */
   .bar-1{
      background-color:#152233;
      min-height: 25vh;
      margin-top: -1rem;
      }
      .bar-inner-1{
      max-width: 77%;
      margin: 0 auto;
      display: flex;
      transform: translateY(2rem);
      justify-content: space-between;
      }
      .announcement-bar-text-1{
      font-size: 15px;
      color: white;
      padding: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .announcement-bar-text-1 span{
      display: block;
      font-size: 16px;
      color: #ffffff82;
      }
      form{
      display: flex;
      align-items: center;
      column-gap: 1rem;


      }
      input{
      height: 2.5rem;
      width: 20rem;
      padding-left:1rem;
      border-radius: 12px;
      border: none;
      }
      .btn-form{
      width: 10rem;
      }
      .btn-form button{
      background-color: #EB004F;
      border: none;
      height: 3rem;
      width: 100%;
      border-radius: 20px;
      }
      .btn-form  button a{
         color: #fff;
         font-weight: 900;
      }
      /* Annoucement bar ends */
       /* footer start */
    .footer{
      min-height: 30vh;
      background-color: black;
      padding-bottom: 3rem;
      }
      .footer-inner{
      margin: 0 auto;
      max-width: 90%;
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: space-around;
      }
      .footer-details ul{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: 5rem;
      }
      .footer-details ul li {
      list-style: none;
  
      }
      .footer-details ul li a{
      color: #ffffff6e;
      text-decoration: none;
      letter-spacing: .1px;
      }
      .footer-details ul li a:hover{
      color: #fff;
      }
      .icon{
      display: flex;
      margin-top:5rem ;
      color: #fff;
      gap: 1.7rem;
      }
      .icon .web-page a{
      color: #ffffff8e;
      }
      .footer-text{
      color: #fff;
      font-size: 12px;
      margin-top: 4rem;
      }
      .icon .web-page a:hover{
      color: #EB004F;
  
      }
      .footer-text{
      max-width: 86%;
      color: #ffffff9a;
      margin: 0 auto;
      margin-top: 2.5rem;
      line-height: 1rem;
      margin-bottom: 2rem;
      }
     /* footer ends */
   





   /* RESPONSIVENESS START */

   /* HEADER START */
   @media only screen and (max-width:329px){
   .logo img{
   width: 4rem;
   }
   }
   @media only screen and (max-width:292px){
   .logo img{
   width: 2rem;
   }
   }
   @media only screen and (max-width:256px){
   .logo img{
   width: .9rem;
   }
   }
   @media only screen and (max-width:236px){
   .logo img{
   display: none;
   }
   }
   /* HEADER ENDS */

   /* PLANS START */
   @media only screen and (max-width:1316px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-box{
   width:40rem;
   height: 28rem;
   margin-top: 3rem;
   border-radius: 30px;
   padding-bottom: 5rem;
   }

   }
   @media only screen and (max-width:1110px){
   .btn-box-pl button a{
   font-size: 12px;
   }

   }
   @media only screen and (max-width:974px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-texts  p{
   letter-spacing: .7px;
   }
   .plan-texts  p:nth-of-type(3){
   letter-spacing: .6px;
   color: #EB004F;
   }
   .btn-box-pl{
   width: 38%;
   }

   }
   @media only screen and (max-width:981px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-texts  p{
   letter-spacing:.3px;
   }

   }
   @media only screen and (max-width:985px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-texts  p{
   letter-spacing:-.1px;
   }

   }
   @media only screen and (max-width:954px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-texts  p{
   letter-spacing:-.6px;
   }

   }
   @media only screen and (max-width:912px){
   .plans-inner{
   max-width: 94%;
   }
   .plan-texts  p{
   letter-spacing:.1px;
   }

   }
   @media only screen and (max-width:1040px){
   .plans-inner{
   display: block;
   max-width: 60%;
   }
   form{
      display: block;
      text-align: center;
   }
   input{
      width: 100%;
   }
   .bar-inner-1{
      display: block;
      text-align: center;
      padding-bottom: 5rem;
   }
   .btn-form{
    /* transform:translateX(9rem) ; */
     width: 100%;
     margin-top: .6rem;
   }
   .plan-box{
   width:100%;
   height: 28rem;
   margin-top: 3rem;
   border-radius:14px;
   padding-bottom: 15rem;
   margin-top: 4rem;
   }
   .plan-paid{
   margin-top: -3rem;

   }
   .plan-texts h5{
   padding-top: 3rem;
   }
   .btn-box-pl{
   margin-bottom: -3.6rem;
   }


   }
   @media only screen and (max-width:546px){
   .plans-inner{
   display: block;
   max-width: 70%;
   }

   .btn-box-pl{
   width: 38%;
   }
   }
   @media only screen and (max-width:387px){
   .plans-inner{
   display: block;
   max-width: 70%;
   }
   .plan-box{
   padding-bottom: 9rem;
   /* min-height: 90vh; */
   }
   .plan-box .btn-box button a{
   font-size:12px ;
   letter-spacing: .1px;
   font-weight: 900;
   }     
   }
   @media only screen and (max-width:350px){
   .plan-box{
   min-height: 70vh;

   }   
   }
   @media only screen and (max-width:328px){
   .plan-box{
   min-height: 75vh;

   }   
   }
   @media only screen and (max-width:298px){
   .plan-box{
   min-height: 79vh;

   }   
   }
   @media only screen and (max-width:285px){
   .plan-box{
   min-height: 83vh;

   }   
   }
   @media only screen and (max-width:272px){
   .plan-box{
   min-height: 89vh;

   }   
   }
   @media only screen and (max-width:520px){
   .plans-inner{
   display: block;
   max-width: 90%;
   }
   .announcement-bar-text{
   font-size: 20px;

   }
   }
   @media only screen and (max-width:382px){
   .plans-inner{
   display: block;
   max-width: 90%;
   }
   }
   @media only screen and (max-width:318px){
   .plans-inner{
   display: block;
   max-width: 90%;
   }
   .plan-box{
   /* min-height: 76vh; */
   padding-bottom: 9rem;

   }
   }
   @media only screen and (max-width:306px){
   .plans-inner{
   display: block;
   max-width: 90%;
   }
   }
   @media only screen and (max-width:289px){
   .plans-inner{
   display: block;
   max-width: 90%;

   }

   }
   /* PLANS ENDS*/

   /* footer  start  */
   @media only screen and (max-width:766px){
   .footer-inner{
   flex-wrap: wrap;
   }
   }
   @media only screen and (max-width:1316px){
   .footer-text{
   max-width:90% ;
   line-height: 1rem;
   }
   }


              /* footer  ends */




  /* Responsivess ends */
