   *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   }
   body{
   background-color: black;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   /* header start */
   header{
   background-color: black;
   height: 6rem;
   }
   nav{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   max-width: 92%;
   margin: 0 auto;
   transform: translateY(2.3rem);
   }
   .logo img{
   width: 6.5rem;
   }
   .logins{
   transform: translateY(-.6rem);
   }
   .sign-in{
   margin-right: .2rem;
   width: 5rem;
   height: 1.5rem;
   border-radius: 40px;
   background-color:#ffffff30;
   border: none;
   }
   .sign-in a{
   text-decoration: none;
   color: rgba(255, 255, 255, 0.582);
   font-size: 11px;
   letter-spacing: .4px;
   font-weight: bold;
   }
   .sign-in a:hover{
   color: white;
   font-size: 12px;
   }
   .get-started{
   width: 7rem;
   height: 2.1rem;
   border-radius: 65px;
   background-color:#EB004F;
   border: none;
   }
   .get-started a{
   text-decoration: none;
   color: white;
   font-size: 11px;
   font-weight: bold;
   letter-spacing: .4px;
   }
   /* header ends *

   /* hero page start */
   .section-1{
   background-color: #031124;
   min-height: 85vh;
   }
   .section-1 .section-1-inner{
   display: flex;
   justify-content: space-between;
   }
   .section-1 .section-1-inner .text{
   transform: translateY(15rem);
   width: 70%;
   height: auto;
   margin-bottom: 2rem;
   /* border-style: dotted; */
   }
   .section-1 .text p{
   color: white;
   font-size: 50px;
   font-weight:bolder;
   margin-left: 4rem;
   line-height: 4rem;
   }
   .section-1 .text p span{
   display: block;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.544);
   font-weight: lighter;
   line-height:2rem;
   transform: translateY(.8rem);
   }
   .hero-img{
   background-color: #031124;
   padding-left: -2rem;
   }
   .hero-img img{
   width: 97%;
   height: auto;

   }
   /* hero page ends*/

   /* section2 start */
   .section-2{
   min-height: 95vh;
   }
   .section-2-inner{
   display:flex ;
   margin: 0 auto;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 87%;
   }
   .img-box{
   transform: translateY(8rem);

   }
   .img-box img{
   width: 87%;
   }
   .text-box{
   color: white;
   transform: translateY(17rem);
   }
   .text-box h5{
   font-size: 30px;
   margin-bottom: 1rem;
   }
   .text-box span{
   font-size: 18px;
   display: block;
   line-height: 1.5rem;
   color: rgba(255, 255, 255, 0.605);
   }



   /* section 2 ends */


   /* section 3 start */

   .section-3-inner{
   display:flex ;
   margin: 0 auto;
   background-color: #EB004F;
   border-radius: 18px;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 87%;
   min-height: 80vh;
   /* padding-bottom: 2rem; */
   }
   .img-box-3{
   transform: translateY(4rem);

   }
   .img-box-3 img{
   width: 87%;
   }
   .text-box-3{
   color: white;
   transform: translateY(10.5rem);
   margin-right: 2.3rem;
   }
   .text-box-3 h5{
   font-size: 50px;
   margin-bottom: 1rem;
   }
   .text-box-3 span{
   font-size:22px;
   display: block;
   line-height: 2rem;
   /* color: rgba(255, 255, 255, 0.605); */
   }
   .text-box-3  button{
   height: 3rem;
   width: 37%;
   margin-top: 1.3rem;
   border-radius: 25px;
   border: none;
   }
   .text-box-3  button a{
   text-decoration: none;
   color:black ;
   font-weight: 900;
   }


   /* section 3 ends */

   /* section 4 start */
   .section-4-inner{
   margin: 0 auto;
   max-width: 45%;
   }
   .img-box-4{
   width: 100%;
   display: flex;
   column-gap: 2rem;
   margin-top: -5.5rem;
   justify-content: center;
   }
   .text-box-4 h5{
   margin-top: 5rem;
   text-align: center;
   color: #fff;
   font-size: 35px;
   }
   .text-box-4 h5 span{
   display: block;
   font-size: 20px;
   color: #ffffff8f;
   margin-top: 2rem;
   }
   .img-box-4 img{
   width: 100%;
   height: auto;
   }
   .section-4-inner .btn-box{
   margin-top: 10rem;
   text-align: center;
   margin-bottom: 2rem;
   }
   .section-4-inner .btn-box button{
   width: 34%;
   height: 3rem;
   border: none;
   border-radius: 24px;
   background-color: #ffffff14;
   }
   .section-4-inner .btn-box button a{
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 14px;
   }




   /* section 4 ends */
   /* section-5start */
   /* section-8 start */
   .section-5-inner{
   margin: 0 auto;
   max-width: 70%;
   min-height: 60vh;
   }
   .section-5-inner .text  h5{
   color: #fff;
   margin-top: 4rem;
   margin-bottom: -3rem;
   text-align: center;
   font-size: 30px;
   }
   .mobiles-5{
   display: grid;
   grid-template-columns:repeat(5,1fr);
   min-height: 40vh;
   margin-top: 6rem;
   align-items: center;
   justify-items: center;
   padding: 1rem;

   }
   .product-button{
   text-align: center;
   }
   .product-button button{
   height: 3rem;
   width: 11.5rem;
   border: none;
   border-radius: 12px;
   background-color: #fff;
   margin-bottom: 5rem;
   }
   .product-button button a{
   color: #000;
   text-decoration: none;
   font-weight: 900;
   }
   .mobiles-5  .img-box-5:nth-of-type(11){
   transform: translateX(21rem);
   }
   .mobiles-5  .img-box-5:nth-of-type(12){
   transform: translateX(21rem);
   }
   .mobiles-5 .img-box-5{
   padding-top: 2rem;

   }
   .mobiles-5 .img-box-5{
   background-color: #152233;
   height: 10rem;
   margin-bottom: 2rem;
   width: 12rem;
   border-radius: 12px;
   }

   .mobiles-5 .img-box-5 img{
   width:100%;

   }
   .img-box-5 p{
   color: rgba(255, 255, 255, 0.587);
   text-align: center;
   }


   /* section-5 ends */

   /* section 6 start */
   .section-6{
   min-height: 70vh;
   margin-top: 6rem;
   }
   .section-6-inner{
   margin: 0 auto;
   max-width: 62%;
   display: flex;
   justify-content: space-between;
   }
   .img-box-6 {
   width: 20rem;
   }
   .img-box-6 img{
   width: 100%;
   }
   .text-box-6{
   transform: translateY(7rem);
   line-height: 3rem;
   }
   .text-box-6 h5{
   color: #fff;
   font-size: 26px;
   }
   .text-box-6 h5 span{
   display: block;
   font-size: 19px;
   color: #ffffff94;
   }
   .section-6-inner button{
   background-color: #1522338f;
   border: none;
   height: 2.6rem;
   width: 39%;
   margin-top: 2.5rem;
   border-radius: 20px;
   }
   .section-6-inner button a{
   color: #fff;
   text-decoration: none;
   letter-spacing: .1rem;
   font-weight: 900;
   }



   /* section 6 ends */
   /* RESPONSIVENESS START */

   /* HEADER START */
   @media only screen and (max-width:329px){
   .logo img{
   width: 4rem;
   }
   }
   @media only screen and (max-width:292px){
   .logo img{
   width: 2rem;
   }
   }
   @media only screen and (max-width:256px){
   .logo img{
   width: .9rem;
   }
   }
   @media only screen and (max-width:236px){
   .logo img{
   display: none;
   }
   }
   /* HEADER ENDS */
   /* Responsiveness ends */
   /* Hero page Start */
   @media  only screen and (max-width:1316px){
   .section-1 .section-1-inner .text{
   width: 88%;
   transform: translateY(12rem);
   } 
   .hero-img img{
   width: 100%;
   transform: translateY(1rem);
   }
   }
   @media  only screen and (max-width:1260px){ 
   .hero-img img{
   width: 100%;
   transform: translateY(2rem);
   }
   .section-1 .section-1-inner .text{
   width: 97%;
   } 

   .section-1 .section-1-inner .text{
   width: 97%;
   transform: translateY(10rem);
   } 


   }
   @media  only screen and (max-width:1068px){ 
   .hero-img img{
   width: 100%;
   transform: translateY(4rem);
   }

   }
   @media  only screen and (max-width:888px){ 
   .hero-img img{
   width: 100%;
   transform: translateY(7.5rem);
   }
   .section-1 .section-1-inner .text{
   width: 97%;
   transform: translateY(9rem);
   } 

   }
   @media  only screen and (max-width:868px){ 
   .hero-img img{
   width: 100%;
   transform: translateY(7rem);
   }
   .hero-img {
   width: 70rem;
   }
   .section-1 .section-1-inner .text{
   width: 97%;
   transform: translateY(9rem);
   }
   .section-1 .text p{
   line-height: 2.5rem;
   }
   .section-1 .text p span{
   line-height: 1.8rem;
   }

   }
   @media  only screen and (max-width:820px){ 
   .hero-img img{
   width: 100%;
   transform: translateY(.1rem);
   }
   .hero-img {
   width: 70rem;
   }
   .section-1 .section-1-inner{
   flex-wrap: wrap-reverse;
   }
   .section-1 .section-1-inner .text{
   width: 97%;
   transform: translateY(1rem);
   text-align: center;


   }
   .section-1{
   padding-bottom: 4rem;
   }
   .section-1 .section-1-inner .text p{
   font-size: 35px;
   margin-left: 0;
   }
   .section-1 .section-1-inner .text p span{
   font-size: 17px;
   }
   }



   /* Hero page ends */



   /*  Section 2 Start */
   @media  only screen and (max-width:1316px){
   .section-2 .section-2-inner .text-box{
   width: 88%;
   transform: translateY(14rem);
   } 
   .img-box img{
   width: 100%;
   transform: translateY(1rem);
   }
   }
   @media  only screen and (max-width:1260px){ 
   .img-box img{
   width: 100%;
   transform: translateY(2rem);
   }
   .section-2 .section-2-inner .text{
   width: 97%;
   } 

   .section-2 .section-2-inner .text{
   width: 97%;
   transform: translateY(10rem);
   } 


   }
   @media  only screen and (max-width:1068px){ 
   .img-box img{
   width: 100%;
   transform: translateY(4rem);
   }
   .section-2 .section-2-inner{
   width: 97%;
   transform: translateY(-6rem);
   } 
   .section-2{
   min-height: 70vh;
   }

   }
   @media  only screen and (max-width:888px){ 
   .img-box img{
   width: 100%;
   transform: translateY(7.5rem);
   }

   }
   @media  only screen and (max-width:868px){ 
   .img-box img{
   width: 100%;
   transform: translateY(7rem);
   }
   .section-2 .section-2-inner .text{
   width: 97%;
   transform: translateY(9rem);
   }
   .section-2 .text-box p{
   line-height: 3.5rem;
   }
   .section-2 .text-box span{
   line-height: 1.8rem;
   }

   }
   @media  only screen and (max-width:820px){ 
   .img-box img{
   width: 100%;
   transform: translateY(.1rem);
   }
   .img-box {
   width: 90%;
   }
   .section-2 .section-2-inner{
   display: block;
   }
   .section-2 .section-2-inner .text-box{
   width: 97%;
   transform: translateY(12rem);
   text-align: center;


   }
   .section-2{
   padding-bottom: 9rem;
   }
   .section-2 .section-2-inner .text-box p{
   font-size: 35px;
   margin-left: 0;
   }
   .section-2 .section-2-inner .text-box p span{
   font-size: 17px;
   }
   }



   /* Section 2 ends */

   /* Section 3 start */
   @media  only screen and (max-width:1316px){
   .section-3 .section-3-inner .text-box-3{
   width: 56%;
   height: 40%;
   transform: translateY(10rem);
   } 
   .img-box-3 img{
   width: 90%;
   transform: translateY(1rem);
   }
   }
   @media  only screen and (max-width:1135px){ 
   .section-3-inner{
   padding-bottom: 13rem; 
   }
   }   
   @media  only screen and (max-width:1090px){ 
   .text-box-3 button{
   width: 50%;
   }
   }   
   @media  only screen and (max-width:1068px){ 
   .img-box-3 img{
   width: 100%;
   transform: translateY(4rem);
   }

   .section-3 .section-3-inner{
   width: 97%;
   transform: translateY(-6rem);
   margin-top: 9rem;
   } 

   }
   @media  only screen and (max-width:888px){ 
   .img-box-3 img{
   width: 100%;
   transform: translateY(7.5rem);
   }

   }
   @media  only screen and (max-width:868px){ 
   .img-box-3 img{
   width: 100%;
   transform: translateY(7rem);
   }
   .section-3 .section-3-inner .text-box-3{
   width: 97%;
   transform: translateY(9rem);
   }
   .section-2 .text-box p{
   line-height: 3.5rem;
   }
   .section-3 .text-box-3 span{
   line-height: 1.8rem;
   }

   }
   @media  only screen and (max-width:820px){ 
   .img-box-3 img{
   width: 100%;
   transform: translateY(.1rem);
   }
   .img-box-3 {
   width: 100%;
   }
   .text-box-3 button{
   width: 37%;
   }
   .section-3 .section-3-inner{
   display: block;
   }
   .section-3 .section-3-inner .text-box-3{
   width: 97%;
   transform: translateY(8rem);
   text-align: center;


   }
   .section-3-inner{
   padding-bottom: 9rem;
   }
   .section-3 .section-3-inner .text-box-3 h5{
   font-size: 32px;
   margin-left: 0;
   }
   .section-3 .section-3-inner .text-box-3  span{
   font-size: 17px;
   }
   }
   @media  only screen and (max-width:521px){ 
   .text-box-3 button{
   width: 70%;
   }
   .text-box-3 button a{
   font-size: 12px;
   }
   }   



   /* section 3 ends */

   /* section 4 start */
   @media only screen and (max-width:1316px){
   .img-box-4{
   margin-top: -7rem;
   padding-bottom: 1rem;

   }
   .section-4-inner{
   max-width: 59%;
   }
   }
   @media only screen and (max-width:1179px){

   .section-4-inner .btn-box button{
   width: 60%;

   }
   }
   @media only screen and (max-width:830px){

   .section-4-inner .btn-box button{
   width: 60%;

   }

   }
   @media only screen and (max-width:1179px){

   .section-4-inner .btn-box button{
   width: 60%;

   }
   }
   @media only screen and (max-width:844px){

   .section-4-inner .btn-box button{
   width: 60%;

   }
   .section-4-inner .btn-box button a{
   font-size: 12px;
   }
   }

   @media only screen and (max-width:1058px){
   .section-4-inner .btn-box-4{
   margin-top: 14rem;
   padding-bottom: 1rem;

   }
   .img-box-4{
   margin-top: -10rem;
   margin-bottom: 12rem;
   }

   }
   @media only screen and (max-width:890px){
   .img-box-4{
   margin-bottom: 15rem;
   margin-top: -14rem;
   padding-bottom: 1rem;
   }
   }
   @media only screen and (max-width:820px){
   .text-box-4{
   padding-bottom: 8rem;
   margin-top: -4rem;
   column-gap: 1rem;
   }
   .img-box-4{
   margin-bottom: -1rem;
   margin-top: -14rem;
   padding-bottom: 1rem;
   display: grid;
   grid-template-columns:repeat(2,1fr) ;
   }
   .section-4-inner{
   max-width: 90%;
   }

   .img-box:nth-of-type(3){
   position: relative;
   left: 60%;

   }
   }
   /* section 4 ends */



   /* section-5 start */
   @media only screen and (max-width:1317px){
   .section-5-inner{
   max-width: 84%;
   }
   .mobiles-5{
   column-gap: 1rem;
   }
   }
   @media only screen and (max-width:1180px){
   .section-5-inner{
   max-width: 89%;
   }
   .mobiles-5{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(13rem,1fr));
   }
   .mobiles-5 .img-box-5:nth-of-type(11){
   transform: translateX(0);
   column-gap: 1rem;
   display: block;
   }
   .mobiles-5  .img-box-5:nth-of-type(12){
   transform: translateX(0);
   }

   }
   @media only screen and (max-width:954px){
   .mobiles-5 .img-box-5:nth-of-type(11){
   transform: translateX(0);
   column-gap: 1rem;
   /* margin-top: 2.6rem; */
   }
   .mobiles-5  .img-box-5:nth-of-type(12){
   transform: translateX(0);
   /* margin-top: 2.7rem; */

   }
   }
   @media only screen and (max-width:947px){
   .mobiles-5 .img-box-5:nth-of-type(11){
   transform: translateX(0);
   /* column-gap: 1rem; */
   margin-top: 2.6rem;
   }
   .mobiles-5  .img-box-5:nth-of-type(12){
   transform: translateX(0);
   /* column-gap: 1rem; */
   margin-top: 2.6rem;

   }
   }
   @media only screen and (max-width:773px){
   .mobiles-5  .img-box-5:nth-of-type(12){
   transform: translateX(0);
   margin-top: 0;

   }
   .mobiles-5 .img-box-5:nth-of-type(11){
   transform: translateX(0);
   margin-top: 0;
   }
   }
   @media only screen and (max-width:960px){
   .mobiles-5{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));

   }
   .mobiles-5 .img-box-5{
   width: 100%;
   height: 18rem;
   }
   .mobiles-5 p{
   margin-top: 2rem;

   }

   }
   @media only screen and (max-width:772px){
   .mobiles-5 p{
   margin-top: -2rem;

   }
   }
   @media only screen and (max-width:749px){
   .mobiles-5 p:nth-of-type(1){
   margin-top:.4rem;

   }
   }
   @media only screen and (max-width:673px){
   .mobiles-5 p{
   margin-top: -.9rem;

   }
   .mobiles-5 .img-box-5{
   height: 16rem;
   }

   }
   @media only screen and (max-width:616px){
   .mobiles-5 p{
   margin-top: -1rem;

   }
   .mobiles-5 .img-box-5{
   height: 16rem;
   }
   }

   @media only screen and (max-width:534px){
   .mobiles-5 p{
   margin-top: -1rem;

   }
   .mobiles-5 .img-box-5{
   height: 13rem;
   }
   }

   @media only screen and (max-width:390px){
   .mobiles-5{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
   }
   }


   /* section-5 ends*/
   /* section 6 start */
   @media only screen and (max-width:1316px){
   .section-6-inner{
   margin: 0 auto;
   max-width: 72%;

   }
   }
   @media only screen and (max-width:1125px){
   .section-6-inner{
   column-gap: 2rem;

   }
   }
   @media only screen and (max-width:1088px){
   .img-box-6{
   transform: translateY(3rem);
   }
   .section-6-inner button{
   width: 43%;
   }
   .section-6-inner button a{
   font-size: 12px;
   }
   }
   @media only screen and (max-width:882px){
   .section-6-inner button{
   width: 45%;
   }
   .section-6-inner button a{
   font-size: 11px;
   }
   }
   @media only screen and (max-width:859px){
   .text-box-6{
   transform: translateY(3rem);
   }
   }
   @media only screen and (max-width:820px){
   .section-6-inner{
   display: block;
   padding-bottom: 5rem;
   margin-top: -3rem;
   }
   .text-box-6{
   text-align: center;
   }
   .img-box-6{
   margin: 0 auto;
   margin-bottom: 2rem;
   }
   }
   @media only screen and (max-width:438px){
   .img-box-6{
   width: 100%;

   }
   .section-6-inner button{
   width: 53%;
   }
   .section-6-inner button a{
   font-size: 10px;
   }
   .text-box-6{
   line-height: 3rem;
   }
   .text-box-6 h5{
   line-height: 1.9rem;
   font-size: 22px;
   }
   .text-box-6 h5 span{
   font-size: 15px;
   line-height: 1.4rem;
   }
   }
   @media only screen and (max-width:400px){
   .section-6-inner button{
   width: 65%;
   }
   .section-6-inner button a{
   font-size: 11px;
   }
   }



   /* section 6 ends */

   /* RESPONSIVENESS ENDS */