    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* header start */
    header{
    background-color: black;
    height: 6rem;
    }
    nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 92%;
    margin: 0 auto;
    transform: translateY(2.3rem);
    }
    .logo img{
    width: 6.5rem;
    }
    .logins{
    transform: translateY(-.6rem);
    }
    .sign-in{
    margin-right: .2rem;
    width: 5rem;
    height: 1.5rem;
    border-radius: 40px;
    background-color:#ffffff30;
    border: none;
    }
    .sign-in a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.582);
    font-size: 11px;
    letter-spacing: .4px;
    font-weight: bold;
    }
    .sign-in a:hover{
    color: white;
    font-size: 12px;
    }
    .get-started{
    width: 7rem;
    height: 2.1rem;
    border-radius: 65px;
    background-color:#EB004F;
    border: none;
    }
    .get-started a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .4px;
    }
    /* header ends *

    /* hero page start */
    .section-1{
    background-color: #031124;
    min-height: 60vh;
    }
    .section-1 .section-1-inner{
    display: flex;
    justify-content: space-between;
    }
    .section-1 .section-1-inner .text{
    transform: translateY(10rem);
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
    /* border-style: dotted; */
    }
    .section-1 .text p{
    color: white;
    font-size: 50px;
    font-weight:bolder;
    margin-left: 4rem;
    line-height: 4rem;
    }
    .section-1 .text p span{
    display: block;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.544);
    font-weight: lighter;
    line-height:2rem;
    transform: translateY(.8rem);
    }
    .hero-img{
    background-color: #031124;
    padding-left: -2rem;
    width: 53%;
    }
    .hero-img img{
    width: 97%;
    height: auto;
    transform: translateY(1.5rem);

    }
    .text button{
    height: 3rem;
    border-radius:25px ;
    width: 34%;
    border: none;
    background-color: #EB004F;
    margin-top: 2.3rem;
    }
    .text button a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    }
    /* hero page ends*/

    /* section 2 start */
    .section-2{
    /* min-height: 30rem; */
    }
    .section-2-inner{
    margin: 0 auto;
    max-width: 63%;
    padding-bottom: 4rem;
    }
    .text-2 {
    text-align: center;
    margin-top: 5rem;

    }
    .text-2  h2{
    font-size: 30px;
    color: #FF0055;
    margin-bottom: .1rem;
    font-weight: bolder;

    }
    .text-2 h3{
    color: white;
    font-size: 35px;


    }
    .text-2 h3 span{
    display: block;
    font-size: 19px;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.656);


    }
    .boxes-1{
    background-color: #152233;
    margin-bottom:-.1rem;
    margin-top: 1.1rem;
    height: 6.5rem;
    border-radius: 12px;
    padding-left: 2rem;
    }
    .boxes-1 h2{
    color: white;
    font-size: 20px;
    transform: translateY(1.5rem);

    }
    .boxes-1 h2 span{
    color: rgba(255, 255, 255, 0.552);
    font-size: 17px;
    margin-top: .5rem;
    display: block;


    }
    .boxes button{
    height: 3rem;
    border-radius:25px ;
    width: 34%;
    border: none;
    background-color: #EB004F;
    margin-top: 2.3rem;
    position: relative;
    left: 30%;
    }
    .boxes button a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    }
    /* section 2 ends */

    /* section 3 start */

    .section-3-inner{
    margin: 0 auto;
    max-width: 90%;
    min-height: 50vh;
    background-color: #031124;
    margin-top: 1rem;
    border-radius: 17px;
    }
    .section-3-inner .box-3{
    display: flex;

    }
    .section-3-inner .box-3{
    width: 24rem;
    column-gap: 1rem;
    align-items: center;
    }
    .section-3-inner .box-3 .text{
    justify-content: flex-start;


    }
    .section-3-inner .text-inner h5{
    padding-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
    text-align: center;
    color: white;

    }
    .section-3-inner  .text h5{
    font-size: 20px;
    color: #fff;
    }
    .section-3-inner .text h5 span{
    font-size: 17px;
    letter-spacing: .2px;
    color: #ffffff85;

    }
    .section-3-inner .box-3{
    margin-bottom: 1.5rem;
    }
    .box-control{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(23rem,1fr)) ;
    column-gap:1rem;
    padding-left: 2rem;
    }
    .section-3-inner .box-3 .boxes{
    width: 5rem;
    }
    .section-3-inner .box-3 .boxes img {
    width: 100%;
    height: auto;

    }
   
    /* .section-3-inner .box-3:nth-of-type(4){
        width: 70%;
    } */

    /* section-3 ends */

    /* section 4 start */
    /* min-height: 30rem; */

    .section-4-inner{
    margin: 0 auto;
    max-width: 63%;
    padding-bottom: 4rem;
    }
    .text-4 {
    text-align: center;
    margin-top: 5rem;

    }
    .text-4  h2{
    font-size: 30px;
    color: #FF0055;
    margin-bottom: .1rem;
    font-weight: bolder;

    }
    .text-4 h3{
    color: white;
    font-size: 35px;


    }
    .text-4 h3 span{
    display: block;
    font-size: 19px;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.656);


    }
    .boxes-4{
    background-color: #152233;
    margin-bottom:-.1rem;
    margin-top: 1.1rem;
    height: 6.5rem;
    border-radius: 12px;
    padding-left: 2rem;
    }
    ol li {
    color: white;
    font-size: 15px;
    transform: translateY(2.5rem);

    }   ol h2{
    font-size: 19px;
    } 
    .boxes button{
    height: 3rem;
    border-radius:25px ;
    width: 34%;
    border: none;
    background-color: #EB004F;
    margin-top: 2.3rem;
    position: relative;
    left: 30%;
    }
    .boxes button a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    }
    /* section 4 ends *



    /* footer start */
    .footer{
    min-height: 30vh;
    }
    .footer-inner{
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    }
    .footer-details ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
    }
    .footer-details ul li {
    list-style: none;

    }
    .footer-details ul li a{
    color: #ffffff6e;
    text-decoration: none;
    letter-spacing: .1px;
    }
    .footer-details ul li a:hover{
    color: #fff;
    }
    .icon{
    display: flex;
    margin-top:5rem ;
    color: #fff;
    gap: 1.7rem;
    }
    .icon .web-page a{
    color: #ffffff8e;
    }
    .footer-text{
    color: #fff;
    font-size: 12px;
    margin-top: 4rem;
    }
    .icon .web-page a:hover{
    color: #EB004F;

    }
    .footer-text{
    max-width: 86%;
    color: #ffffff9a;
    margin: 0 auto;
    margin-top: 2.5rem;
    line-height: 1rem;
    margin-bottom: 2rem;
    }
    .owner{
    color: #fff;
    font-size: 14px;
    text-align: center;
    }
    .bi-arrow-up{
    float: right;
    position: relative;
    left: -3%;
    margin-top: -3rem;
    border: none;
    background-color: #fff;
    width: 3%;
    text-align: center;
    height: -2rem; 
    border-radius: 100px;
    color: black;
    }

    /* footer ends */


    /* RESPONSIVENESS START */

    /* HEADER START */
    @media only screen and (max-width:329px){
    .logo img{
    width: 4rem;
    }
    }
    @media only screen and (max-width:292px){
    .logo img{
    width: 2rem;
    }
    }
    @media only screen and (max-width:256px){
    .logo img{
    width: .9rem;
    }
    }
    @media only screen and (max-width:236px){
    .logo img{
    display: none;
    }
    }
    /* HEADER ENDS */
    /* Responsiveness ends */
    /* Hero page Start */
    .section-1{
    min-height: 68vh;
    padding-bottom: 3rem;
    }
    @media  only screen and (max-width:1316px){
    .section-1 .section-1-inner .text{
    width: 88%;
    transform: translateY(7rem);
    } 
    .hero-img{
    width: 60%;
    }
    .hero-img img{
    max-width: 100%;
    transform: translateY(1rem);
    }
    }
    @media  only screen and (max-width:1182px){
    .hero-img{
    width: 70%;
    }
    .hero-img img{
    max-width: 100%;
    transform: translateY(1rem);
    }
    .text button{
    width: 38%;
    }
    }
    @media  only screen and (max-width:1182px){
    .text button{
    width: 43%;
    }
    }
    @media  only screen and (max-width:1039px){
    .text button{
    width: 45%;
    }
    .text button a{
    font-size: 13px;
    }
    .hero-img{
    width: 76%;
    }
    .hero-img img{

    transform: translateY(3rem);
    }
    .section-1 .section-1-inner .text{
    transform: translateY(5rem);
    line-height: 2rem;
    }
    }
    @media  only screen and (max-width:950px){
    .text button{
    width: 59%;
    }
    .text button a{
    font-size: 13px;
    }
    .hero-img{
    width: 80%;
    }
    .hero-img img{

    transform: translateY(3rem);
    }
    .section-1 .section-1-inner .text{
    transform: translateY(5rem);

    }
    .section-1 .section-1-inner .text p{
    line-height: 4rem;
    }
    .section-1 {
    padding-bottom: 7.5rem;
    }
    }
    @media  only screen and (max-width:950px){
    .hero-img{
    width: 100%;
    }
    }

    @media  only screen and (max-width:883px){
    .hero-img{
    width: 100%;
    transform: translateY(2rem);
    }
    .section-1 .section-1-inner .text p {
    line-height: 3.5rem;
    font-size: 38px;
    justify-content: center;
    }
    .text button{
    width: 68%;
    }
    }
    @media  only screen and (max-width:820px){
    .section-1-inner{
    flex-wrap: wrap-reverse;

    }

    .section-1 .section-1-inner .text  {
    margin-left: -2rem;
    width: 100%;
    text-align: center;
    }
    .hero-img{
    width: 100%;
    transform: translateY(-.4rem);
    }
    }
    @media  only screen and (max-width:528px){
    .section-1 .section-1-inner .text{
    text-align: center;
    width: 100%;
    transform: translateY(3rem);
    }
    .hero-img{
    margin-top: -.4rem;
    }
    .section-1 .section-1-inner .text p{
    line-height: 2.7rem;
    }
    }
    @media  only screen and (max-width:372px){
    .text button a{
    font-size: 12px;
    }
    .text button{
    width:70% ;
    }
    }
    @media  only screen and (max-width:340px){
    .text button a{
    font-size: 12px;
    }
    .text button{
    width:80% ;
    }
    }
    @media  only screen and (max-width:340px){
    .text button a{
    font-size: 12px;
    }
    .text button{
    width:90% ;
    }
    }

    /* Hero page ends */

    /* section 2 start */
    @media only screen and (max-width:1066px){
    .boxes button{
    width: 55%;
    left: 20%;
    }
    }
    @media only screen and (max-width:820px){
    .section-2-inner{
    max-width:94%;
    }
    }
    @media only screen and (max-width:532px){
    .boxes-1{
    padding-bottom: 7rem;
    }
    .boxes-1:nth-of-type(1){
    padding-bottom: 2rem;
    }
    }
    @media only screen and (max-width:512px){
    .boxes-1{
    padding-bottom: 8rem;
    }
    }
    @media only screen and (max-width:389px){
    .boxes-1{
    padding-bottom: 9rem;
    }
    }
    @media only screen and (max-width:316px){
    .boxes-1:nth-of-type(2){
    padding-bottom: 12rem;
    }
    @media only screen and (max-width:298px){
    .boxes-1:nth-of-type(1){
    padding-bottom: 8rem;
    }
    }
    }
    @media only screen and (max-width:449px){
    .boxes button{
    width: 60%;
    left: 19%;
    }
    .boxes button a{
    font-size: 12px;
    }
    }
    @media only screen and (max-width:358px){
    .boxes button{
    width: 69%;
    left: 16%;
    }
    .boxes button a{
    font-size: 12px;
    }
    }

    @media only screen and (max-width:286px){
    .boxes button{
    width: 68%;
    left: 15%;
    }
    .boxes button{
    width: 73%;
    left: 13%;
    }
    }



    /* section 2 ends */

    /* section 3 start */
    @media only screen and (max-width:467px){
    .section-3-inner .box-3{
    width: 19rem;
    column-gap: 1rem;
    }
    .section-3-inner  .text h5{
    font-size: 15.5px;
    color: #fff;
    }
    .section-3-inner .text h5 span{
    font-size: 13px;
    letter-spacing: .2px;
    color: #ffffff85;

    }

    }
    @media only screen and (max-width:368px){
    .section-3-inner .box-3{
    width: 14rem;
    column-gap: 1rem;
    }

    }
    @media only screen and (max-width:306px){
    .section-3-inner .box-3{
    width: 12rem;
    column-gap: 1rem;
    }
    }
    @media only screen and (max-width:246px){
    .section-3-inner .box-3{
    width: 9rem;
    column-gap: 1rem;
    }
    }
    @media only screen and (max-width:198px){
    .section-3-inner .box-3{
    width: 6rem;
    column-gap: 1rem;
    }
    }
    /* section 3 ends */


    /* section 4 start */
    @media only screen and (max-width:1066px){
    .boxes button{
    width: 55%;
    left: 20%;
    }
    }
    @media only screen and (max-width:820px){
    .section-4-inner{
    max-width:91%;
    }
    }
    @media only screen and (max-width:532px){
    .boxes-4{
    padding-bottom: 7rem;
    }
    .boxes-4:nth-of-type(1){
    padding-bottom: 2rem;
    }
    }
    @media only screen and (max-width:512px){
    .boxes-4{
    padding-bottom: 8rem;
    }
    }
    @media only screen and (max-width:389px){
    .boxes-4{
    padding-bottom: 9rem;
    }
    }
    @media only screen and (max-width:316px){
    .boxes-4:nth-of-type(2){
    padding-bottom: 12rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(2){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(4){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(5){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(6){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(7){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:374px){
    .boxes-4:nth-of-type(8){
    padding-bottom: 6rem;
    }
    }
    @media only screen and (max-width:298px){
    .boxes-4:nth-of-type(1){
    padding-bottom: 8rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(1){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(2){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(4){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(5){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(6){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(7){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    .boxes-4:nth-of-type(8){
    padding-bottom: 7rem;
    }
    }
    @media only screen and (max-width:368px){
    ol h2{
    font-size: 17px;
    }
    }
    @media only screen and (max-width:449px){
    .boxes button{
    width: 60%;
    left: 19%;
    }
    .boxes button a{
    font-size: 12px;
    }
    }
    @media only screen and (max-width:358px){
    .boxes button{
    width: 69%;
    left: 16%;
    }
    .boxes button a{
    font-size: 12px;
    }
    }

    @media only screen and (max-width:286px){
    .boxes button{
    width: 68%;
    left: 15%;
    }
    .boxes button{
    width: 73%;
    left: 13%;
    }
    }
    @media only screen and (max-width:400px){
    .text-4 h3{
        font-size: 23px;
    }
    .text-4 h3 span{
        font-size: 17px;
    }
    }
    /* section 4 ends */

    /* footer  start  */
    @media only screen and (max-width:766px){
    .footer-inner{
    flex-wrap: wrap;
    }
    }
    @media only screen and (max-width:1316px){
    .footer-text{
    max-width:90% ;
    line-height: 1rem;
    }
    }
    @media only screen and (max-width:786px){
        .bi-arrow-up{
            width: 7%;
            margin-top: -1.5rem;
        }
    }


    /* footer  ends */
